#Dependency folders
/client/node_modules
/server/venv

#Build/Cache folders
/client/dist
/server/ai_models/*.pkl 
/server/pycache

#Environment variables (MUST BE IGNORED)
.env                 
/server/.env        

#IDE Files
.idea
.vscode